<div>
    <form name="form" @submit.prevent="submit">
        <modal :modal="modalOptions">
            <div slot="content">
                <div class="modal-title">
                    <h5>{{ title() }}</h5>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" :id="bankAccountTextId()" placeholder="Procure a conta bancária"
                               autocomplete="off" :data-activates="bankAccountDropdownId()" data-beloworigin="true">
                        <ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown"></ul>
                        <label class="active">Conta bancária:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select-material :options="cpOptions" :selected.sync="bill.category_id"></select-material>
                        <label class="active">Categoria</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.date_due | dateFormat" placeholder="Informe a data">
                        <label class="active">Vencimento:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.value | numberFormat">
                        <label class="active">Valor:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.name" placeholder="Informe o nome">
                        <label class="active">Nome:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" class="filled-in" v-model="bill.done" :id="doneId()">
                        <label :for="doneId()" class="active">Pago?</label>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <button type="button" class="btn-cancel modal-close modal-action">Cancelar</button>
                <button type="submit" class="btn-ok modal-close modal-action">Salvar</button>
            </div>
        </modal>
    </form>
</div>
