<div>
    <form :id="formId()" name="form" @submit.prevent="submit">
        <modal :modal="modalOptions">
            <div slot="content">
                <div class="modal-title">
                    <h5>{{ title() }}</h5>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" :id="bankAccountTextId()" placeholder="Procure a conta bancária"
                               class="validate" :class="{'invalid': errors.has('bank_account_id')}" autocomplete="off"
                               :data-activates="bankAccountDropdownId()" data-beloworigin="true"
                               @blur="blurBankAccount">
                        <label class="active" :data-error="errors.first('bank_account_id')">Conta bancária:</label>
                        <input type="hidden" name="bank_account_id" :id="bankAccountHiddenId()"
                               :value="bill.bank_account_id" v-validate data-vv-rules="required"
                               data-vv-as="conta bancária">
                        <ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select-material :options="cpOptions" :selected.sync="bill.category_id" v-validate
                                         data-vv-rules="required" data-vv-name="category_id" data-vv-as="categoria"
                                         name="category_id">
                        </select-material>
                        <label class="active" :data-error="errors.first('category_id')">Categoria</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.date_due | dateFormat" id="date_due" name="date_due"
                               placeholder="Informe a data" class="validate" v-validate data-vv-as="vencimento"
                               data-vv-rules="required|vee_date_format" :class="{'invalid': errors.has('date_due')}">
                        <label class="active" for="date_due" :data-error="errors.first('date_due')">Vencimento:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.value | numberFormat" id="value" name="value"
                               placeholder="Informe o valor" class="validate" v-validate data-vv-as="valor"
                               data-vv-rules="required|vee_number_format:0.01"
                               :class="{'invalid': errors.has('value')}">
                        <label class="active" for="value" :data-error="errors.first('value')">Valor:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.name" id="name" name="name" placeholder="Informe o nome"
                               class="validate" v-validate data-vv-as="nome" data-vv-rules="required"
                               :class="{'invalid': errors.has('name')}">
                        <label class="active" for="name" :data-error="errors.first('name')">Nome:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" class="validate filled-in" v-model="bill.done" :id="doneId()">
                        <label :for="doneId()" class="active">Pago?</label>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <button type="button" class="btn-cancel modal-close modal-action">Cancelar</button>
                <button type="submit" class="btn-ok">Salvar</button>
            </div>
        </modal>
    </form>
</div>
