/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/fonts
/public/css/admin.css
/public/css/admin.css.map
/public/css/spa.css
/public/css/spa.css.map
/roboto
/resources/assets/spa/js/config.js
