// Global
body {
  background-color: color("grey", "lighten-5");
}

footer {
  background-color: color("grey", "lighten-3");
  margin-top: 50px;
  padding: 15px;
}

.bill-info {
  background-color: color("grey", "lighten-3");
  margin-bottom: 50px;
}

// Dashboard
.total-receive {
  color: #FFFFFF;
  background-color: color("teal", "darken-4");
}

.total-pay {
  color: #FFFFFF;
  background-color: color("red", "darken-4");
}

// Helpers
.bg-yes {
  color: #FFFFFF;
  background-color: color("teal", "darken-2");
}

.bg-not {
  color: #FFFFFF;
  background-color: color("red", "darken-2");
}

.bg-yes a, .bg-not a {
  color: #FFFFFF;
}

.bg-green {
  color: #000;
  background-color: color("teal", "lighten-1");
}

.bg-red {
  color: #000;
  background-color: color("red", "lighten-1");
}

.bg-blue {
  color: #000;
  background-color: color("blue", "lighten-1");
}

.bg-orange {
  color: #000;
  background-color: color("orange", "lighten-1");
}
