.modal {
  width: 35%;

  .modal-footer {
    background-color: color("grey", "lighten-4");
  }

  table tr > td:first-child {
    @extend .right-align;
    width: 50%;
  }

  table tr > td:last-child {
    font-weight: bold;
  }

  table tr:last-child {
    border-bottom: 0;
  }
}
